/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
progress, sub, sup {
  vertical-align: baseline;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
button, hr, input {
  overflow: visible;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
body {
  margin: 0;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
figcaption, menu, article, aside, details, figure, footer, header, main, nav, section, summary {
  display: block;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
[hidden], template {
  display: none;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
a:active, a:hover {
  outline-width: 0;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
b, strong {
  font-weight: bolder;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
small {
  font-size: 80%;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
sub {
  bottom: -.25em;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
sup {
  top: -.5em;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
img {
  border-style: none;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
button, input, select, textarea {
  font: inherit;
  margin: 0;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
optgroup {
  font-weight: 700;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
button, select {
  text-transform: none;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
[type=submit], [type=reset], button, html [type=button] {
  -webkit-appearance: button;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
textarea {
  overflow: auto;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* line 19, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.wrap::after, form::after, .form-pair::after, .header-nav__list::after, .footer-nav__list::after, .tabs__list::after, .callout::after {
  content: '';
  display: table;
  clear: both;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-10 {
  width: 10%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-15 {
  width: 15%;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-20 {
  width: 20%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-25 {
  width: 25%;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-30 {
  width: 30%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-35 {
  width: 35%;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-40 {
  width: 40%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-45 {
  width: 45%;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-50 {
  width: 50%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-55 {
  width: 55%;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-60 {
  width: 60%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-65 {
  width: 65%;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-70 {
  width: 70%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-75 {
  width: 75%;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-80 {
  width: 80%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-85 {
  width: 85%;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-90 {
  width: 90%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-95 {
  width: 95%;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-100 {
  width: 100%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/utils.scss */
.w-105 {
  width: 105%;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
html {
  box-sizing: border-box;
  font-size: 87.5%;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  color: #505050;
}

/* line 9, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 13, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
body {
  font-size: 1rem;
}

/* line 17, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
a {
  color: #328fc2;
}

/* line 19, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
a:visited {
  color: #1c264a;
}

/* line 21, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
a.a-no-style {
  text-decoration: none;
  color: inherit;
}

/* line 27, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
p {
  margin: 0 0 1em;
}

/* line 31, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.618em;
}

/* line 36, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
h1 {
  font-size: 2.5714rem;
  font-weight: 200;
  color: #650360;
}

/* line 42, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
ol, ul {
  margin: 0 0 1em;
}

/* line 45, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
.center {
  text-align: center !important;
}

/* line 46, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
.no-padd-h {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 51, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
.divider-bar {
  display: inline-block;
  margin-left: 0.1em;
  padding-left: 0.27em;
  border-left: 1px solid;
  font-weight: 400;
}

@media screen and (max-width: 54.7857rem) {
  /* line 60, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/base.scss */
  .mobile-hide {
    display: none;
  }
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 7, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
html.modal-open {
  overflow: hidden;
}

/* line 11, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
.outer-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #1c264a;
}

/* line 18, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
.inner-wrap {
  position: relative;
  width: 100%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.2s cubic-bezier(0.52, 0, 0.37, 0.99);
  transition: 0.2s cubic-bezier(0.52, 0, 0.37, 0.99);
  background-color: #fff;
  will-change: transform;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2);
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
.showNav .inner-wrap {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

/* line 35, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* line 44, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
.pg-header,
.pg-body {
  position: relative;
}

/* line 48, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
.pg-header {
  z-index: 1;
}

/* line 50, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
.pg-body {
  z-index: 0;
  padding: 1.7857rem 0;
}

/* line 55, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
.logo-header {
  display: block;
  margin: 0.4286rem 0 0;
  width: 10.4286rem;
  height: 2.6429rem;
}

@media screen and (min-width: 54.8571rem) {
  /* line 64, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
  .showNav .inner-wrap {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  /* line 67, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
  .pg-body {
    padding-top: 4.2857rem;
  }
  /* line 69, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
  .pg-main,
  .pg-side {
    float: left;
  }
  /* line 72, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
  .pg-main {
    width: 75%;
    padding-right: 0.625rem;
  }
  /* line 77, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/layout.scss */
  .pg-side {
    width: 25%;
    padding-left: 0.625rem;
  }
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/buttons.scss */
button,
.button {
  display: inline-block;
  padding: 0.3em 3em;
  border: none;
  border-radius: 0;
  text-shadow: none;
  font-weight: bold;
  text-align: center;
  background-color: #328fc2;
  text-decoration: none;
}

/* line 13, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/buttons.scss */
button, button:visited,
.button,
.button:visited {
  color: #FFF;
}

/* line 15, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/buttons.scss */
button--cta, button--submit,
.button--cta,
.button--submit {
  background-color: #650360;
  font-size: 1.2857rem;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/forms.scss */
form {
  position: relative;
  margin-bottom: 1em;
}

/* line 7, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/forms.scss */
form input[type="submit"],
form button[type="submit"] {
  float: right;
}

/* line 11, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/forms.scss */
input {
  border: 1px solid #328fc2;
  box-shadow: none;
  border-radius: 0;
  background: #FFF;
}

/* line 17, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/forms.scss */
input:focus, input:active {
  outline: none;
  box-shadow: 0 0 5px #328fc2;
}

/* line 24, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/forms.scss */
.form-pair {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/forms.scss */
.form-pair label {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
}

/* line 32, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/forms.scss */
.form-pair label + input {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
table {
  width: 100%;
  margin: 0 0 1em;
}

/* line 6, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
thead,
tfoot,
th,
td + td {
  text-align: right;
}

/* line 11, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
caption {
  text-align: left;
  margin-bottom: 1em;
}

/* line 16, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
thead,
tfoot {
  font-size: 0.75em;
}

/* line 19, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
tr {
  background-color: #ddebe1;
}

/* line 20, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
tr:nth-child(odd) {
  background-color: #eef5f0;
}

/* line 22, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
thead tr,
tfoot tr {
  background-color: transparent !important;
}

/* line 25, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
td {
  padding: 0.5em;
}

/* line 27, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
.strong {
  font-weight: bold;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
.full-width {
  width: 100%;
}

/* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
.heading-p {
  font-weight: bold;
}

/* line 33, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
.table--feature {
  font-size: 1.1429rem;
}

/* line 36, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
.table--feature tbody tr:first-child {
  font-weight: bold;
}

/* line 38, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
.table--feature caption {
  font-size: 1.6875em;
  font-weight: 200;
}

@media screen and (max-width: 54.7857rem) {
  /* line 46, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
  tr.strong {
    font-size: 1em;
  }
  /* line 49, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
  .table--responsive thead {
    display: none;
  }
  /* line 51, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
  .table--responsive td {
    position: relative;
    display: block;
    padding-left: 75%;
    text-align: left;
  }
  /* line 57, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
  .table--responsive td:before {
    position: absolute;
    top: 50%;
    left: 1em;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    content: attr(data-resp-text);
    display: inline;
  }
  /* line 69, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
  .table--feature tbody tr:first-child {
    font-weight: bold;
  }
  /* line 71, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
  .table--feature tbody tr:first-child:after {
    content: '';
    display: block;
    margin-bottom: 1.5em;
  }
  /* line 77, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
  .table--feature tbody td:first-child {
    font-weight: bold;
    text-align: center;
    padding-left: 0;
  }
  /* line 83, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tables.scss */
  .table--feature tfoot td {
    padding-left: 0;
    text-align: right;
  }
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.pg-header {
  color: #FFF;
  background-color: #328fc2;
}

/* line 12, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.mobile-nav-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  padding: 0;
  background: transparent;
  color: #fff;
}

/* line 22, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.mobile-nav-toggle:focus {
  outline: none;
}

/* line 25, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.home-link {
  display: block;
  margin: 0 auto;
  float: left;
}

/* line 31, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav {
  position: absolute;
  top: 0;
  right: -60%;
  width: 60%;
  font-size: 1.2857rem;
}

/* line 41, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav__list {
  width: 100%;
  margin: 0;
  padding-left: 0;
  text-align: right;
  list-style-type: none;
}

/* line 49, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav__list--sub {
  padding-right: 1em;
}

/* line 55, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav__item {
  position: relative;
}

/* line 59, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav__link {
  display: block;
  position: relative;
  padding: 0.8rem 1.5rem;
  overflow-y: hidden;
  text-decoration: none;
  font-weight: 200;
}

/* line 68, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav__link--sub {
  border-right: 2px solid #328fc2;
  padding: 0.5rem 1rem;
}

/* line 74, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav__link, .header-nav__link:visited {
  color: #FFF;
}

/* line 76, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav__item--is-active > .header-nav__link {
  background-color: #328fc2;
  font-weight: 600;
}

/* line 79, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav__item--is-active > .header-nav__link--sub {
  font-weight: normal;
}

/* line 81, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
.header-nav__item--is-active > .header-nav__link::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -10%;
  width: 8px;
  height: 120%;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2) inset;
}

@media screen and (min-width: 54.8571rem) {
  /* line 99, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .mobile-nav-toggle {
    display: none;
  }
  /* line 101, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav {
    position: relative;
    right: auto;
    float: right;
    width: auto;
    font-size: 1.1429rem;
    background-color: transparent;
    box-shadow: none;
  }
  /* line 112, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav__list--sub {
    display: none;
    position: absolute;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    background-color: #006899;
  }
  /* line 123, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav__item {
    float: left;
  }
  /* line 126, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav__item:hover > .header-nav__list--sub {
    display: block;
  }
  /* line 129, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav__item--sub {
    float: none;
  }
  /* line 135, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav__link {
    overflow-y: visible;
    padding: 0.75em 1.25em;
  }
  /* line 139, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav__item--is-active .header-nav__link, .header-nav__link:hover {
    background-color: #006899;
  }
  /* line 142, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav__item--is-active .header-nav__link::before, .header-nav__link:hover::before {
    content: normal;
  }
  /* line 145, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav__link--sub {
    display: block;
    padding: 0.75em 1.25em;
    border-right: none;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
  }
  /* line 153, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/header.scss */
  .header-nav__link--sub:hover {
    background-color: #328fc2;
  }
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/footer.scss */
.pg-footer {
  text-align: center;
  padding: 1rem 0 2.1429rem;
  font-size: 1.1429rem;
  background-color: #e7e8e9;
}

/* line 9, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/footer.scss */
.footer-nav__list {
  padding: 0;
  list-style-type: none;
}

/* line 15, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/footer.scss */
.footer-nav__link {
  display: block;
  padding: 0 0.75em;
  text-decoration: none;
}

/* line 20, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/footer.scss */
.footer-nav__item--is-active .footer-nav__link {
  font-weight: bold;
  pointer-events: none;
}

/* line 27, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/footer.scss */
.copyright {
  color: #328fc2;
}

@media screen and (min-width: 54.8571rem) {
  /* line 30, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/footer.scss */
  .pg-footer {
    text-align: left;
  }
  /* line 31, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/footer.scss */
  .footer-nav {
    float: right;
  }
  /* line 33, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/footer.scss */
  .footer-nav__item {
    float: left;
  }
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/sidebar.scss */
.sidebar-panel {
  padding: 1.8571rem 1.1429rem 0.1429rem;
  border-top: 1px solid #cccccc;
  background-color: #f5f5f5;
}

/* line 10, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/sidebar.scss */
.sidebar-item:not(:last-child) {
  margin-bottom: 1.7143em;
}

/* line 14, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/sidebar.scss */
.sidebar-item__heading {
  margin-bottom: 0.5em;
  font-size: 1.1429rem;
  font-weight: bold;
  color: #328fc2;
}

/* line 4, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.tabs__list {
  position: relative;
  z-index: 1;
  list-style: none;
  margin: 2em 0 0 0;
  padding-left: 0;
}

/* line 13, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.tabs__item {
  float: left;
  font-size: 1.2857rem;
  border: 1px solid #cccccc;
  border-left: none;
}

/* line 19, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.tabs__item--is-active {
  border-left: 1px solid #cccccc;
  border-bottom-color: #f5f5f5;
  margin-top: -0.375em;
  margin-left: -1px;
}

/* line 25, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.tabs__item--is-active:first-child {
  border-left: none;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.tabs__link {
  display: block;
  padding: 0.35em 0.7em;
  text-decoration: none;
  background-color: #bbd8c4;
}

/* line 35, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.tabs__link, .tabs__link:visited {
  color: #328fc2;
}

/* line 37, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.tabs__link:focus {
  outline: none;
  text-decoration: underline;
}

/* line 42, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.tabs__item--is-active .tabs__link {
  pointer-events: none;
  color: #505050;
  background-color: #f5f5f5;
  padding-top: 0.75em;
}

/* line 50, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.tabs__panel-wrap {
  position: relative;
  z-index: 0;
  margin-top: -1px;
}

/* line 56, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.js .tabs__panel {
  display: none;
}

/* line 59, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/tabs.scss */
.js .tabs__panel--is-active {
  display: block;
}

/* line 3, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/callout.scss */
.callout {
  position: relative;
  margin-bottom: 3.2143rem;
  padding: 1em;
  background-color: #bbd8c4;
}

/* line 11, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/callout.scss */
.callout__heading {
  margin-bottom: 0.5em;
  font-size: 1.1429rem;
  font-weight: bold;
  color: #650360;
}

/* line 18, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/callout.scss */
.callout__img {
  float: right;
  width: 30%;
  margin-left: 1em;
}

/* line 25, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/callout.scss */
.callout__content p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 550px) {
  /* line 31, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/callout.scss */
  .callout__img {
    width: 15%;
  }
}

@media screen and (min-width: 54.8571rem) {
  /* line 39, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/callout.scss */
  .callout__img {
    position: absolute;
    width: 14%;
    right: 1.5em;
    bottom: 1em;
  }
  /* line 46, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/callout.scss */
  .callout__img + .callout__content {
    width: 84%;
  }
}

/* line 1, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/overlay.scss */
.overlay {
  position: absolute;
  z-index: 1;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  will-change: opacity;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

/* line 19, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/overlay.scss */
.overlay--is-block {
  display: block;
}

/* line 23, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/overlay.scss */
.overlay--is-active {
  opacity: 1;
}

/* line 29, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/overlay.scss */
.overlay-module {
  display: inline-block;
  text-align: left;
  position: relative;
  width: 100%;
  max-width: 32.1429rem;
  padding: 2.1429rem 1.0714rem 1.0714rem;
  box-shadow: 0 0 10px black;
  background-color: #fff;
  -webkit-transform: translateY(0.5em) scale(0.98, 0.98);
          transform: translateY(0.5em) scale(0.98, 0.98);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

/* line 49, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/overlay.scss */
.overlay--is-active .overlay-module {
  -webkit-transform: translateY(0) scale(1, 1);
          transform: translateY(0) scale(1, 1);
}

/* line 55, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/overlay.scss */
.overlay-module__heading {
  font-size: 2rem;
  color: #505050;
}

/* line 61, /Users/christophervere/Desktop/Chris-Vere.github.io/sass/components/overlay.scss */
.button--close-overlay-module {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0;
  background-color: transparent;
}
/*# sourceMappingURL=all.css.map */