$color-default:        #505050;

$color-blue:           #328fc2;
$color-blue-darker:    #1c264a;
$color-blue-highlight: #006899;

$color-purple:         #650360;

$color-gray:           #f5f5f5;
$color-gray-light:     #e7e8e9;
$color-gray-darker:    #cccccc;

$color-green:          #bbd8c4;
$color-green-light:    #ddebe1;
$color-green-lighter:  #eef5f0;