$padding: 1em;

.callout{
	position: relative;
	margin-bottom: rem(45);
	padding: $padding;
	background-color: $color-green;

	@extend %clearfix;

	&__heading{
		margin-bottom: 0.5em;
		font-size: rem(16);
		font-weight: bold;
		color: $color-purple;
	}

	&__img{
		float: right;
		width: 30%;
		margin-left: $padding;
	}

	&__content{
		p:last-child{ margin-bottom: 0; }
	}
}

@media screen and (min-width: 550px){
	.callout{
		&__img{
			width: 15%;
		}
	}
}

@media screen and (min-width: rem(768)){
	.callout{
		&__img{
			position: absolute;
			width: 14%;
			right: 1.5 * $padding;
			bottom: $padding;
		}

		&__img + &__content{
			width: 84%;
		}
	}
}