.pg-header{
	color: #FFF;
	background-color: $color-blue;

	.wrap{
		&:after{
			@extend %clearfix;
		}
	}
}

.mobile-nav-toggle{
	position: absolute;
	top: $sitePadding;
	right: $sitePadding;

	border:none;
	padding: 0;
	background: transparent;
	color: #fff;

	&:focus{ outline: none; }
}

.home-link{
	display: block;
	margin: 0 auto;
	float: left;
}

.header-nav{

	position: absolute;
	top: 0;
	right: -$mobileNavOffset;
	width:  $mobileNavOffset;
	//height: 100%;

	font-size: rem(18);

	&__list{
		width: 100%;
		margin: 0;
		padding-left: 0;
		text-align: right;
		list-style-type: none;
		@extend %clearfix;

		&--sub{
			padding-right: 1em;

		}
	}

	&__item{
		position: relative;
	}

	&__link{
		display: block;
		position: relative;
		padding: 0.8 * $sitePadding 1.5 * $sitePadding;

		overflow-y: hidden;
		text-decoration: none;
		font-weight: 200;

		&--sub{
			border-right: 2px solid $color-blue;
			padding: 0.5 * $sitePadding 1 * $sitePadding;
		}


		&,&:visited{ color: #FFF; }

		.header-nav__item--is-active > &{
			background-color: $color-blue;
			font-weight: 600;
			&--sub{font-weight: normal; }

			&::before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: -10%;
				width: $mobileNavShadowSize * 2;
				height: 120%;
				box-shadow: $mobileNavShadow;
			}
		}

	}

}

@media screen and (min-width: $bp-nav){

	.mobile-nav-toggle{ display: none; }

	.header-nav{
		position: relative;
		right: auto;
		float: right;
		width: auto;

		font-size: rem(16);
		background-color: transparent;
		box-shadow: none;

		&__list{
			&--sub{
				display: none;
				position: absolute;
				text-align: left;
				padding-left: 0;
				padding-right: 0;
				width: auto;
				background-color: $color-blue-highlight;
			}
		}

		&__item{
			float: left;
			&:hover{
				& > .header-nav__list--sub{ display: block; }
			}

			&--sub{
				float: none;
			}

		}

		&__link{
			overflow-y: visible;
			padding: 0.75em 1.25em;
			
			.header-nav__item--is-active &,
			&:hover{
				background-color: $color-blue-highlight;
				&::before{ content: normal; }
			}

			&--sub{
				display: block;
				padding: 0.75em 1.25em;
				border-right: none;
				color: #fff;
				text-decoration: none;
				white-space: nowrap;

				&:hover{
					background-color: $color-blue;
				}
			}
		}

	}

}




















